In [108]:
##nodejs:  https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/setting-up-node-on-ec2-instance.html

# !pip install "jupyterlab>=3" "ipywidgets>=7.6" --user
# !pip install jupyter-dash --user
# !jupyter lab build --user

# !pip install snowflake --user
# !pip install snowflake-connector-python --user
import os
import sys
path=!pwd
sys.path.append(os.path.join(path[0], '..'))
from utils import *
import snowflake.connector

class SnowflakeConnector(BaseConnector):
    def __init__(self, credentials: Credentials):
        keys = credentials.get_keys()
        self._secrets = json.loads(keys.get('SecretString', "{}"))

    def connect(self, dbname: str, schema: str = 'DEFAULT'):
        ctx = snowflake.connector.connect(
            user=self._secrets['login_name'],
            password=self._secrets['login_password'],
            account=self._secrets['account'],
            warehouse=self._secrets['warehouse'],
            database=dbname,
            schema=schema
        )

        return ctx

def run_query(querystr, ctx):
    cursor_list = ctx.execute_string(
        querystr
        )
    df = pd.DataFrame.from_records(cursor_list[-1].fetchall(), columns=[x[0] for x in cursor_list[-1].description])
    df.columns= df.columns.str.lower()
    
    return df
## Credentials
SF_CREDS = 'datascience-max-dev-sagemaker-notebooks'

## Snowflake connection 
conn=SnowflakeConnector(SSMPSCredentials(SF_CREDS))
ctx=conn.connect("MAX_PROD","DATASCIENCE_STAGE")
cur = ctx.cursor()

## Query for extrapolated prediction

In [72]:
for val_date in ['20220101']:#,'20220108','20211224','20211217','20211210']: #['20220115', '20220122', '20220201', '20220207', '20220215', 
                 #'20210801', '20210901', '20211001', '20211101', '20211201']:
    val_date_file = datetime.strptime(val_date, '%Y%m%d').strftime('%Y-%m-%d')

    ### Base assets 
    querystr_base_assets = '''
    --Step 4: Gather past metrics and create the basic heuristic forecast, plus median metrics tables
    create or replace table max_dev.workspace.psi_past_base_assets_temp as 
    (select distinct
          a.title_id
        , coalesce(a.season_number,0) as season_number
        , a.viewable_id
        , title_name
        , first_offered_date::date as asset_max_premiere
        , end_utc_max::date as asset_max_end_dt
        , coalesce(raod.season_first_offered_date::date,raod.title_first_offered_date::date) as season_premiere
        , asset_run_time
        , a.content_category
        , episode_number_in_season
        , content_source
        , program_type
        , category
        , tier
        , viewership_start_date as effective_start_date
        , viewership_end_date as effective_end_date
    from max_prod.catalog.reporting_asset_dim a
    join max_prod.catalog.reporting_asset_offering_dim raod
        on a.viewable_id = raod.viewable_id
        and brand = 'HBO MAX'
        and territory = 'HBO MAX DOMESTIC'
        and channel = 'HBO MAX SUBSCRIPTION'
    inner join max_prod.content_analytics.psi_past_title_metadata b
        on a.title_id = b.viewership_title_id
        and coalesce(a.season_number,0) = coalesce(b.viewership_season_number,0)
    where 1 = 1
    and asset_type IN ('FEATURE','ELEMENT')
    and start_utc_max is not null
    and a.content_category in ('movies','series','special')
    and coalesce(raod.season_first_offered_date,raod.title_first_offered_date)  >= '2020-05-27 07:01:00.000'
    order by season_premiere, title_name 
    );
    select * from max_dev.workspace.psi_past_base_assets_temp;
    '''

    ### Train fv 
    querystr_train_fv=''' 
    set val_date = date({val_date}, 'YYYYMMDD');
    --Step 4: Gather past metrics and create the basic heuristic forecast, plus median metrics tables
    create or replace table max_dev.workspace.psi_past_base_temp as (
    with fv as (
        select
              b.title_id
            , b.title_name
            , b.season_number
            , b.content_category
            , b.category
            , tier
            , request_time_gmt::date as request_date
            , count(distinct concat(hbo_uuid, subscription_id)) as first_views
        from MAX_PROD.BI_ANALYTICS.SUBSCRIPTION_FIRST_CONTENT_WATCHED a
        inner join max_dev.workspace.psi_past_base_assets_temp b
            on a.viewable_id = b.viewable_id
            --and request_time_gmt::date between season_premiere_date and dateadd('day',90,season_premiere_date)
            --and season_premiere_date >= '2020-05-27 07:00:01'
        where 1 = 1
            and request_time_gmt::date between asset_max_premiere and asset_max_end_dt
            and request_time_gmt::date between effective_start_date and effective_end_date
            and request_time_gmt::date < dateadd('days',-1,$val_date)
            and country_iso_code in ('US','PR','GU')
        group by 1,2,3,4,5,6,7
        --order by 2,4
    )
    , dates as (
        select distinct
              rs.title_id
            , rs.title_name
            , rs.season_number
            , rs.content_category
            , rs.content_source
            , rs.program_type
            , rs.category
            , rs.tier
            --, rs.season_premiere
            , rs.effective_start_date
            , request_date
            , case when request_date::date = effective_start_date::date then 1 else 0 end as premiere_ind
            , count(distinct case when request_date::date = asset_max_premiere::date then viewable_id else null end) as asset_premiere_count
            , round(sum(distinct case when request_date::date = asset_max_premiere::date then asset_run_time else 0 end)/3600,3) as premiering_hours_runtime
        from max_dev.workspace.psi_past_base_assets_temp rs
        cross join (
            select distinct seq_date as request_date 
            from max_prod.staging.date_range 
            where seq_date < '2024-12-31'::date
        ) rd
        where rd.request_date between 
        coalesce(rs.effective_start_date,rs.season_premiere,rs.asset_max_premiere) 
        and dateadd('days',90,coalesce(rs.effective_start_date,rs.season_premiere,rs.asset_max_premiere))
          and rd.request_date between effective_start_date and effective_end_date
        group by 1,2,3,4,5,6,7,8,9,10,11
        order by 2,3,8
    )
        select dt.*
            , coalesce(first_views,0) as first_views
            , dt.request_date - effective_start_date as days_since_premiere
            , $val_date - effective_start_date -1 as days_on_platform
            , case when $val_date - effective_start_date - 1 >=
                case when dt.category = 'Popcorn' and year(effective_start_date) < 2022 then 31 else 90 end
            then 1 else 0 end as finished_window_flag
            , sum(case when days_since_premiere<=4 then first_views else 0 end) over (partition by dt.title_id, dt.season_number) as fv_4d
            , case when fv_4d>=20000 and dt.tier <=1 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Top IP Scripted Series' 
              else (case when dt.tier <=1 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 0,1 Scripted Series'
                  else (case when dt.tier = 2 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 2 Scripted Series'
                      else (case when dt.tier = 3 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 3 Scripted Series' 
                      else dt.category end) end) end) end as decay_category
        from dates dt
        left join fv
            on dt.title_id = fv.title_id
            and dt.season_number = fv.season_number
            and dt.request_date = fv.request_date
            and dt.content_category = fv.content_category
            and dt.category = fv.category
            and dt.tier = fv.tier
        where 1 = 1
        --and dt.title_name like 'In Treatment'
        order by title_id, title_name, season_number, category, request_date
    );
    select 
    * 
    from max_dev.workspace.psi_past_base_temp;
    '''.format(val_date = val_date)

    querystr_train_fv=''' 
    set val_date = date({val_date}, 'YYYYMMDD');
    --Step 4: Gather past metrics and create the basic heuristic forecast, plus median metrics tables
    create or replace table max_dev.workspace.psi_past_base_temp as (
        select
              b.title_id
            , b.title_name
            , b.season_number
            , b.content_category
            , b.category
            , tier
            , request_time_gmt::date as request_date
            , count(distinct concat(hbo_uuid, subscription_id)) as first_views
        from MAX_PROD.BI_ANALYTICS.SUBSCRIPTION_FIRST_CONTENT_WATCHED a
        inner join max_dev.workspace.psi_past_base_assets_temp b
            on a.viewable_id = b.viewable_id
            --and request_time_gmt::date between season_premiere_date and dateadd('day',90,season_premiere_date)
            --and season_premiere_date >= '2020-05-27 07:00:01'
        where 1 = 1
            and request_time_gmt::date between asset_max_premiere and asset_max_end_dt
            and request_time_gmt::date between effective_start_date and effective_end_date
            and request_time_gmt::date < dateadd('days',-1,$val_date)
            and country_iso_code in ('US','PR','GU')
        group by 1,2,3,4,5,6,7
        --order by 2,4
        );
        select 
        * 
        from max_dev.workspace.psi_past_base_temp;
        '''.format(val_date = val_date)
    
    querystr_psi_median_decay='''
    set val_date = date({val_date}, 'YYYYMMDD');
    create or replace table max_dev.workspace.psi_median_decay as (
    with title_totals as (
        select
              title_id
            , title_name
            , season_number
            , content_category
            , tier
            , finished_window_flag
            , decay_category
            , sum(first_views) as total_first_views
        from max_dev.workspace.psi_past_base_temp
        where effective_start_date>='2021-01-01'
        group by 1,2,3,4,5,6,7
        )
    , enriched_base as (
        select
            base.*
            , div0(first_views,total_first_views) as first_views_pct
        from max_dev.workspace.psi_past_base_temp base
        left join title_totals tt
        on base.title_id = tt.title_id
        and base.season_number = tt.season_number
        and base.content_category = tt.content_category
        and base.decay_category = tt.decay_category
        and base.tier = tt.tier
        and tt.finished_window_flag = 1
        where 1 = 1
        and base.effective_start_date>='2021-01-01'
        and total_first_views >= 0
        or base.finished_window_flag = 0
        )
    , median_decay_pre as (
        select
              decay_category
            , days_since_premiere
            , median(first_views_pct) as med_first_views_pct
        from enriched_base
        where finished_window_flag = 1
        group by 1,2
        order by 1,2
        )
    , median_decay_modifier as (
        select
              decay_category
            , sum(med_first_views_pct) as med_fv_mod
        from median_decay_pre
        group by 1
        )
    select
          a.decay_category
        , days_since_premiere
        , med_first_views_pct/med_fv_mod as med_first_views_pct
    from median_decay_pre a
    join median_decay_modifier b
    on a.decay_category = b.decay_category
    );
    select 
    * 
    from max_dev.workspace.psi_median_decay;
    '''.format(val_date = val_date)

    
    querystr_psi_daily_viewership='''
    set val_date = date({val_date}, 'YYYYMMDD');
    create or replace table max_dev.workspace.psi_past_current_daily_viewership as (
    with current_running_assets as (
    select
          title_id
        , title_name
        , season_number
        , content_category
        , tier
        , effective_start_date
        , decay_category
        , max(days_since_premiere) days_so_far
        , sum(first_views) as fv_so_far
    from max_dev.workspace.psi_past_base_temp
    where 1 = 1
    and request_date < dateadd('days',-1,$val_date)
    and effective_start_date < dateadd('days',-4,$val_date)
    and finished_window_flag = 0
    group by 1,2,3,4,5,6,7
    )
    , current_running_assets_enriched as (
    select
          title_id
        , title_name
        , season_number
        , content_category
        , a.tier
        , a.decay_category
        , effective_start_date
        , days_so_far
        , fv_so_far
        , sum(med_first_views_pct) fv_pct_so_far
    from current_running_assets a
    join max_dev.workspace.psi_median_decay b
    on case when a.decay_category = 'Popcorn' and year(effective_start_date) >= 2022 then 'Scripted Features'
        else a. decay_category end = b.decay_category
    and days_since_premiere <= days_so_far
    group by 1,2,3,4,5,6,7,8,9
    )
    , current_running_assets_predicted_totals as (
    select
          title_id
        , title_name
        , season_number
        , content_category
        , tier
        , decay_category
        , effective_start_date
        , fv_so_far/fv_pct_so_far as predicted_total_first_views
    from current_running_assets_enriched
    )
    select
          a.*
        , case when request_date < dateadd('days',-1, $val_date) then first_views
        else round(b.med_first_views_pct * c.predicted_total_first_views,0) end as predicted_first_views
    from max_dev.workspace.psi_past_base_temp a
    left join max_dev.workspace.psi_median_decay b
    on case when a.decay_category = 'Popcorn' and year(effective_start_date) >= 2022 then 'Scripted Features'
        else a. decay_category end = b.decay_category
    and a.days_since_premiere = b.days_since_premiere
    left join current_running_assets_predicted_totals c
    on a.title_id = c.title_id
    and a.season_number = c.season_number
    and a.content_category = c.content_category
    and a.tier =  c.tier
    --where a.title_name like '%Snyder%'
    );
    select 
    *,
    'past' as schedule_label
    from max_dev.workspace.psi_past_current_daily_viewership
    where 1 = 1
    and effective_start_date < dateadd('days',-4,$val_date::date);
    '''.format(val_date = val_date)

    
    df = run_query(querystr_base_assets, ctx)
    df_train_fv = run_query(querystr_train_fv, ctx)
#     df_train_fv.to_csv('s3://hbo-ingest-datascience-content-dev/psi_first_views/other/fv_train_{}.csv'.format(val_date_file))

#     df_median_decay= run_query(querystr_psi_median_decay, ctx)
#     df_fv_ext= run_query(querystr_psi_daily_viewership, ctx)
#     df_fv_ext.to_csv('s3://hbo-ingest-datascience-content-dev/psi_first_views/other/fv_ext_{}_fix.csv'.format(val_date_file))
     
    print(f'{val_date} saved')

20220101 saved

In [4]:
val_date_file='2022-02-11'
querystr='''
select 
* 
from max_prod.content_analytics.psi_daily_rw_mean_forecast 
where finished_window_flag=0 and days_on_platform>0  
'''

df_rwm= run_query(querystr, ctx)
df_rwm.to_csv('s3://hbo-ingest-datascience-content-dev/psi_first_views/dev/rwm_{}.csv'.format(val_date_file))

Pull request

In [145]:
ci_db = 'max_dev'
ci_schema= 'workspace'
ds = '20220201'
# querystr_pred ='''
# '''
# .format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)

querystr_past ='''
set ds = date({ds}, 'YYYYMMDD');
create or replace table {ci_db}.{ci_schema}.psi_past_base_temp as (
with assets as (
select distinct
      a.title_id
    , coalesce(a.season_number,0) as season_number
    , a.viewable_id
    , title_name
    , first_offered_date::date as asset_max_premiere
    , end_utc::date as asset_max_end_dt
    , coalesce(raod.season_first_offered_date::date,raod.title_first_offered_date::date) as season_premiere
    , asset_run_time
    , a.content_category
    , episode_number_in_season
    , content_source
    , program_type
    , category
    , tier
    , viewership_start_date as effective_start_date
    , viewership_end_date as effective_end_date
from max_prod.catalog.reporting_asset_dim a
join max_prod.catalog.reporting_asset_offering_dim raod
on a.viewable_id = raod.viewable_id
and brand = 'HBO MAX'
and territory = 'HBO MAX DOMESTIC'
and channel = 'HBO MAX SUBSCRIPTION'
inner join max_prod.content_analytics.psi_past_title_metadata b
on a.title_id = b.viewership_title_id
and coalesce(a.season_number,0) = coalesce(b.viewership_season_number,0)
where 1 = 1
and title_name='Free Guy'
and asset_type IN ('FEATURE','ELEMENT')
and start_utc is not null
and a.content_category in ('movies','series','special')
and coalesce(raod.season_first_offered_date,raod.title_first_offered_date)  >= '2020-05-27 07:01:00.000'
order by season_premiere, title_name-- desc
)
, fv as (
    select
          b.title_id
        , b.title_name
        , b.season_number
        , b.content_category
        , b.category
        , tier
        , request_time_gmt::date as request_date
        , count(distinct concat(hbo_uuid, subscription_id)) as first_views
    from MAX_PROD.BI_ANALYTICS.SUBSCRIPTION_FIRST_CONTENT_WATCHED a
    inner join assets b
        on a.viewable_id = b.viewable_id
        --and request_time_gmt::date between season_premiere_date and dateadd('day',90,season_premiere_date)
        --and season_premiere_date >= '2020-05-27 07:00:01'
    where 1 = 1
    and request_time_gmt::date between asset_max_premiere and asset_max_end_dt
    and request_time_gmt::date between effective_start_date and effective_end_date
    and request_time_gmt::date < dateadd('days',-1, $ds)
    and country_iso_code in ('US','PR','GU')
    group by 1,2,3,4,5,6,7
    --order by 2,4
)
, hv as (
    select
          b.title_id
        , b.title_name
        , b.season_number
        , b.content_category
        , b.category
        , tier
        , request_time_gmt::date as request_date
        , coalesce(round(sum(stream_elapsed_play_seconds)/3600,3), 0) as hours_viewed
    from max_prod.viewership.max_user_stream_heartbeat a
    inner join assets b
        on a.viewable_id = b.viewable_id
    where 1 = 1
    and stream_elapsed_play_seconds >= 120
    and request_time_gmt > '2020-05-27 07:00:00'
    and request_time_gmt::date between asset_max_premiere and asset_max_end_dt
    and request_time_gmt::date between effective_start_date and effective_end_date
    and request_time_gmt::date < dateadd('days',-1, $ds)
    group by 1,2,3,4,5,6,7
)
, dates as (
    select distinct
          rs.title_id
        , rs.title_name
        , rs.season_number
        , rs.content_category
        , rs.content_source
        , rs.program_type
        , rs.category
        , rs.tier
        --, rs.season_premiere
        , rs.effective_start_date
        , request_date
        , case when request_date::date = effective_start_date::date then 1 else 0 end as premiere_ind
        , count(distinct case when request_date::date = asset_max_premiere::date then viewable_id else null end) as asset_premiere_count
        , round(sum(distinct case when request_date::date = asset_max_premiere::date then asset_run_time else 0 end)/3600,3) as premiering_hours_runtime
    from assets rs
    cross join (
        select distinct seq_date as request_date from max_prod.staging.date_range where seq_date < '2024-12-31'::date
    ) rd
    where rd.request_date between coalesce(rs.effective_start_date,rs.season_premiere,rs.asset_max_premiere) and dateadd('days',90,coalesce(rs.effective_start_date,rs.season_premiere,rs.asset_max_premiere))
      and rd.request_date between effective_start_date and effective_end_date
    group by 1,2,3,4,5,6,7,8,9,10,11
    order by 2,3,8
)
    select dt.*
        , coalesce(first_views,0) as first_views
        , coalesce(hours_viewed,0) as hours_viewed
        , dt.request_date::date - effective_start_date::date as days_since_premiere
        , $ds - effective_start_date::date -1 as days_on_platform    
        , case when $ds - effective_start_date::date - 1 >=
            case when dt.category = 'Popcorn' and year(effective_start_date::date) < 2022 then 31 else 90 end
        then 1 else 0 end as finished_window_flag
        , sum(case when days_since_premiere<=4 then first_views else 0 end) over (partition by dt.title_id, dt.season_number) as fv_4d
            , case when fv_4d>=20000 and dt.tier <=1 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Top IP Scripted Series' 
              else (case when dt.tier <=1 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 0,1 Scripted Series'
                  else (case when dt.tier = 2 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 2 Scripted Series'
                      else (case when dt.tier = 3 and dt.category in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 3 Scripted Series' 
                      else dt.category end) end) end) end as decay_category
    from dates dt
    left join hv
    on dt.title_id = hv.title_id
    and dt.season_number = hv.season_number
    and dt.request_date = hv.request_date
    and dt.content_category = hv.content_category
    and dt.category = hv.category
    and dt.tier = hv.tier
    left join fv
    on dt.title_id = fv.title_id
    and dt.season_number = fv.season_number
    and dt.request_date = fv.request_date
    and dt.content_category = fv.content_category
    and dt.category = fv.category
    and dt.tier = fv.tier
    where 1 = 1
    --and dt.title_name like 'In Treatment'
    order by title_id, title_name, season_number, category, request_date
)
;
select 
    * 
    from max_dev.workspace.psi_past_base_temp
'''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)


# querystr_past ='''
# create or replace table {ci_db}.{ci_schema}.psi_past_base_temp as (
# select distinct
#       a.title_id
#     , coalesce(a.season_number,0) as season_number
#     , a.viewable_id
#     , title_name
#     , first_offered_date::date as asset_max_premiere
#     , end_utc::date as asset_max_end_dt
#     , coalesce(raod.season_first_offered_date::date,raod.title_first_offered_date::date) as season_premiere
#     , asset_run_time
#     , a.content_category
#     , episode_number_in_season
#     , content_source
#     , program_type
#     , category
#     , tier
#     , viewership_start_date as effective_start_date
#     , viewership_end_date as effective_end_date
# from max_prod.catalog.reporting_asset_dim a
# join max_prod.catalog.reporting_asset_offering_dim raod
# on a.viewable_id = raod.viewable_id
# and brand = 'HBO MAX'
# and territory = 'HBO MAX DOMESTIC'
# and channel = 'HBO MAX SUBSCRIPTION'
# inner join max_prod.content_analytics.psi_past_title_metadata b
# on a.title_id = b.viewership_title_id
# and coalesce(a.season_number,0) = coalesce(b.viewership_season_number,0)
# where 1 = 1
# and asset_type IN ('FEATURE','ELEMENT')
# and start_utc is not null
# and a.content_category in ('movies','series','special')
# and coalesce(raod.season_first_offered_date,raod.title_first_offered_date)  >= '2020-05-27 07:01:00.000'
# order by season_premiere, title_name-- desc
# );
# select 
#     * 
#     from {ci_db}.{ci_schema}.psi_past_base_temp
# '''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)

querystr_decay ='''
set ds = date({ds}, 'YYYYMMDD');
create or replace table {ci_db}.{ci_schema}.psi_median_decay as (
with title_totals as (
select
      title_id
    , title_name
    , season_number
    , content_category
    , decay_category
    , tier
    , finished_window_flag
    , sum(first_views) as total_first_views
    , sum(hours_viewed) as total_hours_viewed
from {ci_db}.{ci_schema}.psi_past_base_temp
where effective_start_date>='2021-01-01'
group by 1,2,3,4,5,6,7
)
, enriched_base as (
select
    base.*
    , div0(first_views,total_first_views) as first_views_pct
    , div0(hours_viewed,total_hours_viewed) as hours_viewed_pct
from {ci_db}.{ci_schema}.psi_past_base_temp base
left join title_totals tt
on base.title_id = tt.title_id
and base.season_number = tt.season_number
and base.content_category = tt.content_category
and base.decay_category = tt.decay_category
and base.tier = tt.tier
and tt.finished_window_flag = 1
where 1 = 1
and base.effective_start_date>='2021-01-01'
and total_first_views >= 0
or base.finished_window_flag = 0
)
, median_decay_pre as (
select
      decay_category
    , days_since_premiere
    , median(hours_viewed_pct) as med_hours_viewed_pct
    , median(first_views_pct) as med_first_views_pct
from enriched_base
where finished_window_flag = 1
group by 1,2
order by 1,2
)
, median_decay_modifier as (
select
      decay_category
    , sum(med_hours_viewed_pct) as med_hv_mod
    , sum(med_first_views_pct) as med_fv_mod
from median_decay_pre
group by 1
)
--, median_decay as (
select
      a.decay_category
    , days_since_premiere
    , med_hours_viewed_pct/med_hv_mod as med_hours_viewed_pct
    , med_first_views_pct/med_fv_mod as med_first_views_pct
from median_decay_pre a
join median_decay_modifier b
on a.decay_category = b.decay_category
)
;
select * from {ci_db}.{ci_schema}.psi_median_decay
'''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)

# querystr_decay ='''
# create or replace table {ci_db}.{ci_schema}.psi_median_decay as (
# select
#       title_id
#     , title_name
#     , season_number
#     , content_category
#     , decay_category
#     , tier
#     , finished_window_flag
#     , sum(first_views) as total_first_views
#     , sum(hours_viewed) as total_hours_viewed
# from {ci_db}.{ci_schema}.psi_past_base_temp
# group by 1,2,3,4,5,6,7
# )
# ;
# select * from {ci_db}.{ci_schema}.psi_median_decay
# '''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)


query_past_current='''
set ds = date({ds}, 'YYYYMMDD');
create or replace temporary table {ci_db}.{ci_schema}.psi_past_current_daily_viewership as (
with current_running_assets as (
select
      title_id
    , title_name
    , season_number
    , content_category
    , decay_category
    , tier
    , effective_start_date
    , max(days_since_premiere) days_so_far
    , sum(hours_viewed) as hv_so_far
    , sum(first_views) as fv_so_far
from {ci_db}.{ci_schema}.psi_past_base_temp
where 1 = 1
and request_date < dateadd('days',-1,$ds)
and effective_start_date < dateadd('days',-4, $ds)
and finished_window_flag = 0
group by 1,2,3,4,5,6,7
)
, current_running_assets_enriched as (
select
      title_id
    , title_name
    , season_number
    , content_category
    , a.decay_category
    , a.tier
    , effective_start_date
    , days_so_far
    , hv_so_far
    , sum(med_hours_viewed_pct) hv_pct_so_far
    , fv_so_far
    , sum(med_first_views_pct) fv_pct_so_far
from current_running_assets a
join {ci_db}.{ci_schema}.psi_median_decay b
on case when a.decay_category = 'Popcorn' and year(effective_start_date::date) >= 2022 then 'Scripted Features'
    else a. decay_category end = b.decay_category
and days_since_premiere <= days_so_far
group by 1,2,3,4,5,6,7,8,9,11
)
, current_running_assets_predicted_totals as (
select
      title_id
    , title_name
    , season_number
    , content_category
    , decay_category
    , tier
    , effective_start_date
    , hv_so_far/hv_pct_so_far as predicted_total_hours_viewed
    , fv_so_far/fv_pct_so_far as predicted_total_first_views
from current_running_assets_enriched
)
--, past_current_daily_predictions as (
select
      a.*
    , case when request_date::date < dateadd('days',-1,$ds) then first_views
    else round(b.med_first_views_pct * c.predicted_total_first_views,0) end as predicted_first_views
    , case when request_date::date < dateadd('days',-1,$ds) then hours_viewed
    else round(b.med_hours_viewed_pct * c.predicted_total_hours_viewed,3) end as predicted_hours_viewed
from {ci_db}.{ci_schema}.psi_past_base_temp a
left join {ci_db}.{ci_schema}.psi_median_decay b
on case when a.decay_category = 'Popcorn' and year(effective_start_date::date) >= 2022 then 'Scripted Features'
    else a.decay_category end = b.decay_category
and a.days_since_premiere = b.days_since_premiere
left join current_running_assets_predicted_totals c
on a.title_id = c.title_id
and a.season_number = c.season_number
and a.content_category = c.content_category
and a.decay_category = c.decay_category
and a.tier =  c.tier
--where a.title_name like '%Snyder%'
);
select * from {ci_db}.{ci_schema}.psi_past_current_daily_viewership;
'''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)


querystr_decay_values ='''
set ds = date({ds}, 'YYYYMMDD');
create or replace table {ci_db}.{ci_schema}.psi_past_current_inferred_decay_values as (
with title_totals as (
select
      title_id
    , title_name
    , season_number
    , content_category
    , category
    , tier
    , effective_start_date
    , sum(predicted_hours_viewed) as total_hours_viewed
    , sum(predicted_first_views) as total_first_views
from {ci_db}.{ci_schema}.psi_past_current_daily_viewership
--where tier = 1 and category = 'Scripted Drama Series'
group by 1,2,3,4,5,6,7
)
, recency_rank as (
select *
    , dense_rank() over (partition by category, tier order by effective_start_date) as recency_rank
    , total_first_views*(dense_rank() over (partition by category, tier order by effective_start_date)) as weighted_first_views
    , total_hours_viewed*(dense_rank() over (partition by category, tier order by effective_start_date)) as weighted_hours_viewed
from title_totals
order by category, tier, effective_start_date
)
-- , tier_x_catg_weighted_avgs as (
select
      category
    , round(tier,0)::varchar as tier
    , sum(weighted_hours_viewed)/sum(recency_rank) as avg_hours_viewed
    , sum(weighted_first_views)/sum(recency_rank) as avg_first_views
from recency_rank
group by 1,2
order by 1,2
)
;
select * from {ci_db}.{ci_schema}.psi_past_current_inferred_decay_values
'''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)


querystr_rwm ='''
set ds = date({ds}, 'YYYYMMDD');
create or replace table {ci_db}.{ci_schema}.psi_daily_rw_mean_forecast as (
select
    *,
    'past' as schedule_label
from {ci_db}.{ci_schema}.psi_past_current_daily_viewership
where 1 = 1
and effective_start_date < dateadd('days',-4,$ds)
union
select
      null as title_id
    , a.title as title_name
    , a.season as season_number
    , null as content_category
    , source as content_source
    , null as program_type
    , initcap(a.category) as category
    , a.tier
    --, a.season_premiere
    , a.premiere_date
    , a.seq_date
    , num_premiering_titles
    , num_episodes_released
    , num_hours_released
    , 0 as first_views
    , 0 as hours_viewed
    , seq_date::date - a.premiere_date as days_since_premiere
    , $ds - 1 - a.premiere_date as days_on_platform
    , 0 as finished_window_flag
    , 0 as fv_4d
    , case when a.tier <=1 and initcap(a.category) in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 0,1 Scripted Series' else 
    (case when a.tier = 2 and initcap(a.category) in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 2 Scripted Series' else 
     (case when a.tier = 3 and initcap(a.category) in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 3 Scripted Series' 
      else initcap(a.category) end) end) end as decay_category
    , round(c.avg_first_views * b.med_first_views_pct,0) as predicted_first_views
    , round(c.avg_hours_viewed * b.med_hours_viewed_pct,4) as predicted_hours_viewed
    , schedule_label
from max_prod.content_analytics.daily_future_programming_schedule a
left join {ci_db}.{ci_schema}.psi_median_decay b
on case when initcap(a.category) = 'Popcorn' and year(a.premiere_date) >= 2022 then 'Scripted Features' else
    (case when a.tier <=1 and initcap(a.category) in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 0,1 Scripted Series' else 
    (case when a.tier = 2 and initcap(a.category) in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 2 Scripted Series' else 
     (case when a.tier = 3 and initcap(a.category) in ('Scripted Drama Series','Scripted Comedy Series') then 'Tier 3 Scripted Series' 
      else initcap(a.category) end) end) end) end  = b.decay_category
and seq_date - a.premiere_date = b.days_since_premiere
left join {ci_db}.{ci_schema}.psi_past_current_inferred_decay_values c
on case when initcap(a.category) = 'Popcorn' and year(a.premiere_date) >= 2022 then 'Scripted Features'
    else initcap(a. category) end = initcap(c.category)
and a.tier::varchar = c.tier::varchar
where 1 = 1
and first_window_flag = 1
and finished_window_flag = 0
and premiere_date >= dateadd('days',-4,$ds)
and concat(title,season) not in (
    select distinct concat(psi_title,a.season_number)
    from {ci_db}.{ci_schema}.psi_past_current_daily_viewership a
    join max_prod.content_analytics.psi_past_title_metadata b
    on initcap(a.title_name) = initcap(b.viewership_title)
    and coalesce(a.season_number,0) = coalesce(b.viewership_season_number,0)
    where premiere_ind = 1
    and a.effective_start_date < dateadd('days',-4,$ds)
    )
);
select * from {ci_db}.{ci_schema}.psi_daily_rw_mean_forecast'''.format(ci_db=ci_db, ci_schema=ci_schema , ds=ds)


# df_past= run_query(querystr_past, ctx) 
# print('done')
# display(df_past.describe())

# df_decay= run_query(querystr_decay, ctx) 
# print('done')
# display(df_decay.head(2))

# df_current= run_query(query_past_current, ctx) 
# print('done')
# display(df_current.head(2))

# df_decay_values= run_query(querystr_decay_values, ctx) 
# print('done')
# display(df_decay_values.head(2))

df_rwm=run_query(querystr_rwm, ctx) 
print('done')
display(df_rwm.head(2))

done

,title_id,title_name,season_number,content_category,content_source,program_type,category,tier,effective_start_date,request_date,premiere_ind,asset_premiere_count,premiering_hours_runtime,first_views,hours_viewed,days_since_premiere,days_on_platform,finished_window_flag,fv_4d,decay_category,predicted_first_views,predicted_hours_viewed,schedule_label
0,GXuqhmQVncQq_tgEAAAJc,The Dog House: UK,2,series,HBO Max,original,International,3.00000,2021-07-08,2021-10-05,0,0,0.0,0,450.519,89,207,1,23,International,0.0,450.5190,past
1,GYCiC1Q8picLCfAEAAAAC,Mare of Easttown,1,series,HBO,original,Scripted Drama Series,1.00000,2021-04-19,2021-05-28,0,0,0.0,2405,431228.141,39,287,1,8782,"Tier 0,1 Scripted Series",2405.0,431228.1410,past

In [141]:
a = '''select * from max_dev.workspace.psi_past_current_daily_viewership'''
df = run_query(a, ctx)
df.columns

Index(['title_id', 'title_name', 'season_number', 'content_category',
       'content_source', 'program_type', 'category', 'tier',
       'effective_start_date', 'request_date', 'premiere_ind',
       'asset_premiere_count', 'premiering_hours_runtime', 'first_views',
       'hours_viewed', 'days_since_premiere', 'days_on_platform',
       'finished_window_flag', 'fv_4d', 'decay_category',
       'predicted_first_views', 'predicted_hours_viewed'],
      dtype='object')

In [ ]:
df_rwm[df_rwm.title_name.str.contains('Winning')]

In [149]:
display(df_rwm = df_rwm.isnull().sum())
df_rwm = df_rwm.fillna(0)
df_rwm['effective_start_date'] = pd.to_datetime(df_rwm['effective_start_date'])
df_rwm['predicted_first_views'] = df_rwm['predicted_first_views'].astype(int)
a = df_rwm[['title_name','effective_start_date','tier','category','first_views','predicted_first_views']].groupby(by=['title_name','effective_start_date','category','tier']).sum()

a = a.reset_index()
a[(a.effective_start_date>='2022-01-01')
  & (a.effective_start_date<'2022-09-01') 
  & (a.tier<=1)].sort_values(by='effective_start_date')

,title_name,effective_start_date,category,tier,first_views,predicted_first_views
385,Harry Potter 20th Anniversary: Return to Hogwarts,2022-01-01,Specials,1.00000,315198,347426
397,Hitman's Wife's Bodyguard,2022-01-07,Pay1,1.00000,29420,47559
202,Euphoria,2022-01-10,Scripted Drama Series,0.00000,330273,668770
621,Peacemaker,2022-01-13,Scripted Drama Series,1.00000,75385,162752
833,The Gilded Age,2022-01-25,Scripted Drama Series,1.00000,28115,107970
652,Raised By Wolves,2022-02-03,Scripted Drama Series,1.00000,0,107913
857,The King's Man,2022-02-18,Pay1,1.00000,0,23228
239,Free Guy,2022-02-23,Pay1,1.00000,0,23228
992,West Side Story,2022-03-02,Pay1,1.00000,0,23228
210,F9: The Fast Saga,2022-03-04,Pay1,1.00000,0,23228
998,Winning Time: The Rise Of The Lakers Dynasty,2022-03-06,Scripted Drama Series,1.00000,0,107913
790,The Batman,2022-04-18,Popcorn,1.00000,0,352639
821,The Flight Attendant,2022-04-21,Scripted Drama Series,0.00000,0,698795
904,The Staircase,2022-05-05,Scripted Drama Series,1.00000,0,107913
219,Fantastic Beasts: The Secrets of Dumbledore,2022-05-30,Popcorn,1.00000,0,352639
993,Westworld,2022-06-26,Scripted Drama Series,1.00000,0,107913
642,Pretty Little Liars: Original Sin,2022-06-30,Scripted Drama Series,1.00000,0,107913
161,DC League Of Super-Pets,2022-07-04,Popcorn,1.00000,0,352639
222,Father of the Bride,2022-07-21,Scripted Features,1.00000,0,352639
192,Elvis,2022-08-08,Popcorn,1.00000,0,352639
942,Titans,2022-08-11,Scripted Drama Series,1.00000,0,107913
403,House Of The Dragon,2022-08-21,Scripted Drama Series,0.00000,0,698795

In [142]:
display(df_rwm = df_rwm.isnull().sum())
df_rwm = df_rwm.fillna(0)
df_rwm['premiere_date'] = pd.to_datetime(df_rwm['premiere_date'])
df_rwm['predicted_first_views'] = df_rwm['predicted_first_views'].astype(int)
a = df_rwm[['title_name','premiere_date','category','first_views','predicted_first_views']].groupby(by=['title_name','premiere_date','category']).sum()

a = a.reset_index()
a.sort_values(by='premiere_date')

KeyError: 'premiere_date'

In [131]:
df_rwm[df_rwm.title_name=='Free Guy']

,title_id,title_name,season_number,content_category,content_source,program_type,category,tier,premiere_date,seq_date,num_premiering_titles,num_episodes_released,num_hours_released,first_views,hours_viewed,days_since_premiere,days_on_platform,finished_window_flag,fv_4d,decay_category,predicted_hours_viewed,predicted_first_views,schedule_label
51,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-17,0,0,0.0,0,0,83,-23,0,0,Pay1,13138.5460,89.0,alpha
73,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-18,0,0,0.0,0,0,84,-23,0,0,Pay1,14794.6809,83.0,alpha
169,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-19,0,0,0.0,0,0,85,-23,0,0,Pay1,11929.8315,73.0,alpha
233,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-20,0,0,0.0,0,0,86,-23,0,0,Pay1,11436.1326,76.0,alpha
302,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-21,0,0,0.0,0,0,87,-23,0,0,Pay1,10400.0078,70.0,alpha
363,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-22,0,0,0.0,0,0,88,-23,0,0,Pay1,10176.2753,62.0,alpha
458,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-23,0,0,0.0,0,0,89,-23,0,0,Pay1,10086.4133,59.0,alpha
511,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-24,0,0,0.0,0,0,90,-23,0,0,Pay1,11380.6355,71.0,alpha
6834,0,Free Guy,0,0,HBO,0,Pay1,1,2022-02-23,2022-02-23,1,1,2.0,0,0,0,-23,0,0,Pay1,359569.9750,1414.0,alpha
6846,0,Free Guy,0,0,HBO,0,Pay1,1,2022-02-23,2022-02-24,0,0,0.0,0,0,1,-23,0,0,Pay1,234700.9456,1130.0,alpha
6875,0,Free Guy,0,0,HBO,0,Pay1,1,2022-02-23,2022-02-25,0,0,0.0,0,0,2,-23,0,0,Pay1,202139.5201,995.0,alpha
6883,0,Free Guy,0,0,HBO,0,Pay1,1,2022-02-23,2022-02-26,0,0,0.0,0,0,3,-23,0,0,Pay1,157158.4489,912.0,alpha
6917,0,Free Guy,0,0,HBO,0,Pay1,1,2022-02-23,2022-02-27,0,0,0.0,0,0,4,-23,0,0,Pay1,134298.5304,753.0,alpha
6936,0,Free Guy,0,0,HBO,0,Pay1,1,2022-02-23,2022-02-28,0,0,0.0,0,0,5,-23,0,0,Pay1,112302.1834,714.0,alpha
6949,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-01,0,0,0.0,0,0,6,-23,0,0,Pay1,130105.3205,699.0,alpha
6975,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-02,0,0,0.0,0,0,7,-23,0,0,Pay1,124871.8541,722.0,alpha
7000,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-03,0,0,0.0,0,0,8,-23,0,0,Pay1,94333.3726,573.0,alpha
7025,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-04,0,0,0.0,0,0,9,-23,0,0,Pay1,88937.9797,597.0,alpha
7063,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-05,0,0,0.0,0,0,10,-23,0,0,Pay1,90919.7481,564.0,alpha
7072,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-06,0,0,0.0,0,0,11,-23,0,0,Pay1,66933.0415,487.0,alpha
7110,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-07,0,0,0.0,0,0,12,-23,0,0,Pay1,58983.9697,459.0,alpha
7148,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-08,0,0,0.0,0,0,13,-23,0,0,Pay1,68218.3649,483.0,alpha
7175,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-09,0,0,0.0,0,0,14,-23,0,0,Pay1,81761.9133,511.0,alpha
7214,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-10,0,0,0.0,0,0,15,-23,0,0,Pay1,59018.6220,427.0,alpha
7224,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-11,0,0,0.0,0,0,16,-23,0,0,Pay1,57416.0661,344.0,alpha
7250,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-12,0,0,0.0,0,0,17,-23,0,0,Pay1,51415.4297,385.0,alpha
7302,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-13,0,0,0.0,0,0,18,-23,0,0,Pay1,47780.3591,370.0,alpha
7327,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-14,0,0,0.0,0,0,19,-23,0,0,Pay1,47429.3039,353.0,alpha
7372,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-15,0,0,0.0,0,0,20,-23,0,0,Pay1,58440.0668,433.0,alpha
7378,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-16,0,0,0.0,0,0,21,-23,0,0,Pay1,66054.9502,397.0,alpha
7421,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-17,0,0,0.0,0,0,22,-23,0,0,Pay1,45251.4950,316.0,alpha
7468,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-18,0,0,0.0,0,0,23,-23,0,0,Pay1,42112.3410,329.0,alpha
7498,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-19,0,0,0.0,0,0,24,-23,0,0,Pay1,41225.1243,349.0,alpha
7516,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-20,0,0,0.0,0,0,25,-23,0,0,Pay1,35860.3046,261.0,alpha
7574,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-21,0,0,0.0,0,0,26,-23,0,0,Pay1,32550.3739,233.0,alpha
7601,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-22,0,0,0.0,0,0,27,-23,0,0,Pay1,41663.1441,298.0,alpha
7633,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-23,0,0,0.0,0,0,28,-23,0,0,Pay1,47160.7619,311.0,alpha
7664,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-24,0,0,0.0,0,0,29,-23,0,0,Pay1,38528.1300,216.0,alpha
7712,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-25,0,0,0.0,0,0,30,-23,0,0,Pay1,33526.6797,201.0,alpha
7783,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-26,0,0,0.0,0,0,31,-23,0,0,Pay1,31558.4638,215.0,alpha
7818,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-27,0,0,0.0,0,0,32,-23,0,0,Pay1,29317.8332,186.0,alpha
7833,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-28,0,0,0.0,0,0,33,-23,0,0,Pay1,27135.1762,170.0,alpha
7897,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-29,0,0,0.0,0,0,34,-23,0,0,Pay1,33527.9139,191.0,alpha
7926,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-30,0,0,0.0,0,0,35,-23,0,0,Pay1,39468.8972,226.0,alpha
7999,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-03-31,0,0,0.0,0,0,36,-23,0,0,Pay1,29197.4951,182.0,alpha
14638,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-01,0,0,0.0,0,0,37,-23,0,0,Pay1,26707.5525,190.0,alpha
14655,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-02,0,0,0.0,0,0,38,-23,0,0,Pay1,25579.3035,169.0,alpha
14716,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-03,0,0,0.0,0,0,39,-23,0,0,Pay1,24422.9822,148.0,alpha
14777,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-04,0,0,0.0,0,0,40,-23,0,0,Pay1,23510.1132,145.0,alpha
14798,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-05,0,0,0.0,0,0,41,-23,0,0,Pay1,27878.6646,163.0,alpha
14829,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-06,0,0,0.0,0,0,42,-23,0,0,Pay1,31235.0438,188.0,alpha
14916,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-07,0,0,0.0,0,0,43,-23,0,0,Pay1,23145.0725,152.0,alpha
14946,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-08,0,0,0.0,0,0,44,-23,0,0,Pay1,20828.6543,148.0,alpha
14982,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-09,0,0,0.0,0,0,45,-23,0,0,Pay1,21124.2449,143.0,alpha
15037,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-10,0,0,0.0,0,0,46,-23,0,0,Pay1,19538.8148,145.0,alpha
15103,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-11,0,0,0.0,0,0,47,-23,0,0,Pay1,18768.1767,129.0,alpha
15177,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-12,0,0,0.0,0,0,48,-23,0,0,Pay1,25369.0224,152.0,alpha
15198,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-13,0,0,0.0,0,0,49,-23,0,0,Pay1,29100.0697,125.0,alpha
15258,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-14,0,0,0.0,0,0,50,-23,0,0,Pay1,20671.1955,120.0,alpha
15293,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-15,0,0,0.0,0,0,51,-23,0,0,Pay1,19383.9822,134.0,alpha
15352,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-16,0,0,0.0,0,0,52,-23,0,0,Pay1,19878.3570,139.0,alpha
15438,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-17,0,0,0.0,0,0,53,-23,0,0,Pay1,17110.4636,118.0,alpha
15514,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-18,0,0,0.0,0,0,54,-23,0,0,Pay1,15985.5573,107.0,alpha
15551,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-19,0,0,0.0,0,0,55,-23,0,0,Pay1,21038.8464,126.0,alpha
15615,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-20,0,0,0.0,0,0,56,-23,0,0,Pay1,23267.9762,130.0,alpha
15656,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-21,0,0,0.0,0,0,57,-23,0,0,Pay1,18647.5635,110.0,alpha
15766,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-22,0,0,0.0,0,0,58,-23,0,0,Pay1,17852.1715,113.0,alpha
15823,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-23,0,0,0.0,0,0,59,-23,0,0,Pay1,17121.1875,112.0,alpha
15889,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-24,0,0,0.0,0,0,60,-23,0,0,Pay1,15444.6085,88.0,alpha
15928,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-25,0,0,0.0,0,0,61,-23,0,0,Pay1,14330.0739,87.0,alpha
15995,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-26,0,0,0.0,0,0,62,-23,0,0,Pay1,17862.1467,114.0,alpha
16074,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-27,0,0,0.0,0,0,63,-23,0,0,Pay1,20250.4148,107.0,alpha
16131,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-28,0,0,0.0,0,0,64,-23,0,0,Pay1,16159.3933,94.0,alpha
16194,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-29,0,0,0.0,0,0,65,-23,0,0,Pay1,15058.3668,96.0,alpha
16286,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-04-30,0,0,0.0,0,0,66,-23,0,0,Pay1,14113.8968,98.0,alpha
16329,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-01,0,0,0.0,0,0,67,-23,0,0,Pay1,12553.1923,91.0,alpha
16410,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-02,0,0,0.0,0,0,68,-23,0,0,Pay1,12917.8284,73.0,alpha
16515,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-03,0,0,0.0,0,0,69,-23,0,0,Pay1,15937.2958,107.0,alpha
16522,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-04,0,0,0.0,0,0,70,-23,0,0,Pay1,17397.6653,103.0,alpha
16613,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-05,0,0,0.0,0,0,71,-23,0,0,Pay1,13472.0990,78.0,alpha
16679,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-06,0,0,0.0,0,0,72,-23,0,0,Pay1,13749.6006,89.0,alpha
16768,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-07,0,0,0.0,0,0,73,-23,0,0,Pay1,12652.9486,91.0,alpha
16873,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-08,0,0,0.0,0,0,74,-23,0,0,Pay1,11781.7368,81.0,alpha
16882,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-09,0,0,0.0,0,0,75,-23,0,0,Pay1,11368.9121,81.0,alpha
16993,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-10,0,0,0.0,0,0,76,-23,0,0,Pay1,14991.9597,80.0,alpha
17058,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-11,0,0,0.0,0,0,77,-23,0,0,Pay1,17395.0996,85.0,alpha
17146,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-12,0,0,0.0,0,0,78,-23,0,0,Pay1,13310.7917,82.0,alpha
17220,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-13,0,0,0.0,0,0,79,-23,0,0,Pay1,14117.4822,82.0,alpha
17230,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-14,0,0,0.0,0,0,80,-23,0,0,Pay1,12352.9633,80.0,alpha
17301,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-15,0,0,0.0,0,0,81,-23,0,0,Pay1,11888.5669,71.0,alpha
17408,0,Free Guy,0,0,0,0,Pay1,1,2022-02-23,2022-05-16,0,0,0.0,0,0,82,-23,0,0,Pay1,11087.8939,75.0,alpha